
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.full-container {
  display: flex;
  width: auto;
  justify-content: center;
}
.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
}


.vertical-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-input-container {
  display: flex;
  justify-content: space-around;
}
.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.centered {
  margin-top: 10px;
  align-items: center;
}
/* 타이틀 스타일 */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-label {
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  margin-top: 10px;
}
pre {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


.description {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.generate-button,
.download-button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.generate-button:hover,
.download-button:hover {
  background-color: #45a049;
  /* Darker Green */
}

.download-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.terminal-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.terminal {
  min-width: 400px;

  padding-bottom: 30px;
  background-color: #2d2d2d;
  border: 2px solid #808080;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px auto;
}

.header {
  background-color: #1e1e1e;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.button.close {
  background-color: #ff5f56;
}

.button.minimize {
  background-color: #ffbd2e;
}

.button.maximize {
  background-color: #27c93f;
}

.content {
  padding: 10px;
  color: #ffffff;
  height: calc(100% - 40px);
  text-align: left; /* 왼쪽 정렬 스타일 추가 */
  white-space: pre-wrap; /* 공백 및 줄 바꿈 유지 */
}

/* 스크롤바 스타일링 */
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 4px;
}

.content::-webkit-scrollbar-track {
  background-color: #333333;
}