/* 공통 스타일 */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;

  margin: 0;
}

.full-container {
  padding-top: 20%;
  display: flex;
  width: auto;
  justify-content: center;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
}

.vertical-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-input-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.centered {
  margin-top: 10px;
  align-items: center;
}

/* 타이틀 스타일 */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-label {
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  margin-top: 10px;
}

pre {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.generate-button,
.download-button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.generate-button:hover,
.download-button:hover {
  background-color: #45a049;
  /* Darker Green */
}

.download-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.terminal-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


/* 모바일에서도 적당한 크기로 보이도록 폰트 크기 등을 조절 */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px; /* 예시로 폰트 크기 조절 */
  }

  .description {
    padding: 10px; /* 예시로 여백을 줄임 */
  }

  .container {
    max-width: 250px;
  }
  .horizontal-input-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
  }
  .centered {
    max-width: 250px;
  }

  .description {
    display: flex;
    text-align: center;
    white-space: pre-wrap;
  }
  .terminal {
    min-width: 200px;
    background-color: #2d2d2d;
    border: 2px solid #808080;
    border-radius: 10px;

  }

  .content {
    color: #ffffff;
    text-align: center; /* 왼쪽 정렬 스타일 추가 */
    white-space: pre-wrap; /* 공백 및 줄 바꿈 유지 */
  }
}