.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*color: white;*/

}

.App-link {
  color: #61dafb;
}
.box {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.black {
  background-color: black;
  margin-right: 3px;
}


.green-1 {
  background-color: #066D32;
  margin-right: 3px;
}
.green-2 {
  background-color: #26A641;
  margin-right: 3px;
}
.green-3 {
  background-color: #3CD353;
  margin-right: 3px;
}

.row{
  padding: 0px;
  margin: 0px;
}
.character-grid{
  padding: 0px;
  margin: 0px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
